//include files
\#include "${className}.h"

${class_DtoGeneratorConfig.get_namespace_Declaration_start()}

/*
 * This class is generated automatically.
 * Never change from your hand.
 */
/**
 * <pre>
 * schema name : "${schema}"
 * table name  : "${tbl.name}"
 * </pre>
 */
 
 
 //実体を定義

//カラム情報の実態を定義
#foreach($col in ${tbl.cols})
const typename ${className}::column::type::${col.name} ${className}::column::data::${col.name}; 
#end
 
 
 //カラム情報のオブジェクトを定義
#foreach($col in ${tbl.cols})
const std::string ${className}::column::type::${col.name}::name_("${col.name}");
#end

 
${class_DtoGeneratorConfig.get_namespace_Declaration_end()}